:root {
    --primary-color:#e07655;
    --secondary-color: #668a70;
    --tertiary-color: #e6ab9a;
    --quaternary-color: #e8e6d3;
}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    
    
}

header a {
    text-decoration: none;
    color: var(--quaternary-color);
}

a:hover {
    text-shadow: 1px 1px var(--tertiary-color);
    font-weight: 900;
    list-style-type: none;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.hero {
    background-image: url("../images/desert.jpg");
    background-size: cover;
    background-position: 70%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 900px;
    
}

.hero h1, .eastman {
    margin-top: 350px;
    font-size: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

.hero h1 {
    font-weight: 100;
    color: var(--quaternary-color);
}

.eastman {
    font-weight: 900;
    color: var(--tertiary-color);
}

.about-me h2, .projects h2, .contact-info h2 {
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    color: var(--quaternary-color);
    font-size: 35px;
    text-align: left;
    padding-bottom: 10px;
}

.about-me {
    background: var(--secondary-color);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    }


.about-me img {
    height: 400px;
    padding-top: 20px;
    padding-left: 100px;
}

.about-me p {
    color: var(--quaternary-color);
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    padding-top: 100px;
    
}

.about-me img, .about-me p {
    display: inline-block;
    align-items: center;
}

.about-me p::first-line {
    font-size: x-large;
    font-weight: 900;
}

.projects {
    background: var(--tertiary-color);
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}


 img.horiseon, img.run-buddy  {
    height: 675px;
    width: auto;
    display: flex;
    padding: 20px;
    display: inline-block;
    flex-wrap: wrap;
    padding-left: 100px;
    
}

img.run-buddy {
    padding-left: 18px;
}


img.workDayScheduler, 
img.tuneItUp,
img.budgetTracker,
img.codeQuiz {
    width: 400px;
    height: auto;
    display: inline-block;
    flex-wrap: wrap;
    padding-bottom: 20px ;
    padding-left: 20px;
}



.contact-info {
    background: var(--primary-color);
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style: none;
}

.contact-info li {
    color: var(--quaternary-color);
    font-size: 25px;
 }

 /*  MEDIA QUERY FOR TABLES AND SMALLER */
@media screen and (max-width: 980px) {
 header {
    padding-bottom: 0;
    position: relative;
    justify-content: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
  }

  header nav ul li a {
    font-size: 40px;
  }

  img.about-me , p.about-me  {
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
      
  }
  
  img.about-me  {
    padding-left: 175px;
      
  }

  .about-me p {
    padding-left: 65px;
    font-size: 20px;
  }

  .prjects {
      display: grid;
  }

  img.horiseon,
  img.run-buddy {
      grid-row: 1;
      grid-column: 1;
  }

   img.workDayScheduler, 
   img.tuneItUp {
    grid-row: 1;
    grid-column: 1;
    width: 400px;
    height: auto;
    padding-left: 100px;
}
    img.tuneItUp {
    padding-left: 100px;
    }


  }




  /*.horiseon, .run-buddy {
    flex: 0 32%;
    margin-right: 0;
    margin-top: 15px;
    margin-bottom: 15px;
    align-items: center;
    justify-content: center;
  }

}*/


  /*  MEDIA QUERY FOR TABLES AND SMALLER */
@media screen and (max-width: 768px) {
    .about-me h2, .projects h2, .contact-info h2 {
        text-align: left;
    }

    

    
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
    .contact-info li {
        font-size: 25px;
    }





}    